/* include padding , border in elements total width, height*/
/*font-family: 'Big Shoulders Display', cursive;
font-family: 'Mohave', sans-serif;
font-family: 'Roboto Mono', monospace;*/

* {
    box-sizing: border-box ;
}
/*removing margins , paddings from list*/
ul {
    margin: 0;
    padding: 0;
}




.header {
    width: 100%;
    
    padding: 10px 20px;    
}
.date {
    line-height: 30px;
    margin-left: 0px;
    margin-top: 0px;
}
h1{
    
    font-family: 'Mohave', sans-serif;
    font-size: 100px;
    font-weight: lighter;
    margin-bottom: 0px;
}
h2{
    
    font-family: 'Mohave', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    margin-left: 5px;
}


/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
  }

.dropdown{
    margin-left: 10px;
    position: relative;
    display: inline-block;
}
.dropdown-content{
    width: 200px;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content{
    display: block;
    background-color: #eeeeee;
}

#myInput{
    margin-bottom: 10px;
    border-color: #cccccc;
    border-radius: 5px;
    padding-left: 10px;
    width: 100%;
    height: 30px;
    font-size: 14px;
}
#details{
    width: 100%;
    height: 100px;
    padding-left: 10px;
    font-size: 14px;
    resize: none;   
}
button.addBtn{
    margin-top: 5px;
    margin-left: 0px;
    background-color: #cccccc ;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 30%;
    height: 30px;
    font-size: 14px;
}
button.addBtn:hover {
    background-color: #9e8f09;
}
.list{
    color:#02879e;
    width: 300px;
    overflow: hidden;    
}
li{
    padding: 5px 5px 5px 10px;   
}
.newTodo{
    width: 90%;
}
.newDetail{
    display: none;
}
.fBtn{
    background-color: #289a67;
    width: 15px;
    height: 15px;
    border: 2px solid #289a67;
    border-radius: 50%;
    margin-right: 0px;
    position: absolute;
    right: 75px;
}
button.fBtn:hover{
    background-color: rgb(76, 235, 206);
}
button.dBtn{
    background-color: rgb(242, 92, 92);
    width: 15px;
    height: 15px;
    border: 2px solid rgb(242, 92, 92);
    border-radius: 50%;
    position: absolute;
    right: 55px;


}
button.dBtn:hover{
    background-color: rgb(242, 223, 100);
}


/* colors e02879es
eb3184
1acbeb
ebd202
9e8f09*/
